:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --overlay-color: #2e2f42;
  --hero-bg-color: #2e2f42;
  --white-color: #ffffff;
  --modal-bg-color: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-color);
}

h2,
h3 {
  color: var(--dark-color);
}

ul {
  list-style-type: none;
  padding: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}

img {
  display: block;
}

* {
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-accent {
  color: var(--dark-color);
}

.header {
  border-bottom: 1px solid var(--accent-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  color: var(--dark-color);
  font-weight: 500;
  padding: 24px 0;
  display: inline-block;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--pressed-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-color);
}

.hero {
  background-color: var(--hero-bg-color);
  padding: 188px 0;
}

.hero > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.hero-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  font-weight: 700;
  max-width: 496px;
  letter-spacing: 0.02em;
}
.hero-cta {
  color: var(--white-color);
  background-color: var(--primary-color);
  letter-spacing: 0.04em;
  font-weight: 500;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
}
.hero-cta:hover,
.hero-cta:focus {
  background-color: var(--pressed-color);
}

.list {
  display: flex;
  gap: 24px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.team {
  background-color: var(--light-color);
}
.team .card {
  background-color: var(--white-color);
  border-radius: 0 0 4px 4px;
}

.team-description {
  padding: 32px 0;
  text-align: center;
}

.card {
  background-color: var(--white-color);
  width: calc((100% - 72px) / 4);
}
.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio .card {
  width: calc((100% - 48px) / 3);
}

.portfolio .list {
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}
.footer {
  background-color: var(--hero-bg-color);
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-accent {
  color: var(--light-color);
}
.footer-text {
  color: var(--light-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
